.layout {
    display: flex;
    height: 100vh;
}

.navlink {
    display: flex;
    align-items: center;
    color: white;
    padding: 1rem 0.75rem;
    width: 100%;
}

.navlink[data-selected='true'] {
    background-color: #c85a54;
}

.navlink a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
    font-weight: 500;
    font-size: 1.1rem;
}

.navlink a:hover {
    color: #ff8a80;
}

.navlink[data-selected='true'] a:hover {
    color: #001e19;
}

.footerLink {
    color: #ff8a80;
    text-decoration: none;
    font-weight: 500;
}

.footerLink:hover {
    color: #ffbcaf;
}

.cryptoStat {
    font-size: 1.25rem !important;
    font-weight: 500 !important;
}

.cryptolink a {
    text-decoration: none;
}

.searchBar {
    margin-bottom: 2rem;
}

.news-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.5rem;
    height: 100%;
}

.newslink {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    text-decoration: none;
    color: #28453f;
}

.newslink:hover{
    color: #ff8a80;
}

.newslink p {
    font-weight: 600;
    font-size: 1.1rem;
}

.providerInfo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.providerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.providerContainer p {
    font-size: 0.9rem;
}

.statBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid gray;
}

.coin-stats-name,
.other-stats-name {
    display: flex;
    gap: 1rem;
}

.stats {
    font-weight: 700 !important;
    font-size: 1.25rem !important;
}

.linksBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid gray;
}

.linksBlock a {
    text-decoration: none;
    font-weight: 600;
    color: #c85a54;
}